
#root {
  width:100%;
  height:100%;
  font-family:  sans-serif;
  margin:0;
  padding:0;
}

.lindkedIn_div:hover {
  color: white;
}

div.modal-header button span {
  color:red;
  text-shadow: 0
}

.tableRow:hover {
  cursor: pointer;
}
#log-in-form {
  border-radius: 4%;
  box-shadow: 6px 32px 72px rgb(179, 178, 178);
}

.nav-link:hover {
  cursor: pointer;
  color: 'white'
}
.fa-business-time::before {
  margin-right: 10px;
}

.fa-sign-out-alt::before {
  margin-right: 10px;
}

.fa-sign-in-alt:before {
  margin-right: 10px;
}

.fa-house-user::before {
    margin-right: 10px;
}

.fa-user::before {
  color:white;
  margin-right: 10px;
  margin-left: 10px;
}

#account-navbar-dropdown {
  display: flex;
}

.account-navbar-dropdown > .dropdown-toggle {
  font-size: 1.5rem;
  background-color: inherit;
  border-color:#343a40;
}

.account-navbar-dropdown > .dropdown-toggle:hover {
  background-color: inherit;
  border-color:#343a40;
}

#account-navbar-dropdown > div > .dropdown-menu.show {
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  left: -240px;
}

#account-navbar-dropdown > div > .dropdown-menu > a.dropdown-item:hover {
  cursor:context-menu;
  background-color: white;
}

div > form#log-in-form > #log-in-btn:hover {
  background-color:#28a745 ;
  border-color: #28a745;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1400px) {
  div > form#log-in-form {
    /* background-color:red; */
    padding: 25px !important;
  }
}
@media screen and (max-width: 900px) {
  form#log-in-form > .form-text  {
    margin: 15px auto !important;
    font-size: 1.50rem !important;
  }

  div > form#log-in-form > #log-in-btn {
    font-size: 1rem !important;
  }

  div > form#log-in-form > .form-group > input {
    border-radius: 0 !important;
    font-size: 1rem !important;
  }
}

@media screen and (max-width:600px) {
  #sell-modal > .modal-content {
    width: 75%;
    height:50%;
    margin: auto;
  }
  #sell-modal > .modal-content > form {
    font-size: 1rem;
  }
  #sell-modal > .modal-content > form > .modal-body {
    width:100%;
  }

  #sell-modal > .modal-content > form > .modal-body > #stock-info-div > span {
    font-size: 1rem;
  }

  #sell-modal > .modal-content >  form > .modal-body > #stock-info-2div > div > div.d-flex > h4{
    font-size: 1rem;
  }
  div > form#log-in-form {
    padding: 10px !important
  }
  div > form#log-in-form > #log-in-btn {
    margin-top: 10px !important;
    font-size: .5rem !important;
  }
  div > form#log-in-form > .form-group {
    background-color:blue;
    /* padding: 10px !important;  */
    font-size: 0.5rem !important;
    margin-bottom: 25px !important;
  }
  div > form#log-in-form > .form-group > input {
    font-size: 0.5rem !important;
  }
  form#log-in-form > .form-text  {
    margin: 15px auto !important;
    font-size: .75rem !important;
  }
  form#log-in-form > div.mt-5 {
    margin-top: 5px !important;
    font-size:.25rem;
  }
  form#log-in-form > div.mt-5 > a {
    margin-left: 0 !important;
  }
  #alert_message_container {
    padding: .25rem .75rem !important;
  }
  #alert_message {
    font-size: 10px !important;
  }
}

@media screen and (max-width:400px) {

  #sell-modal > .modal-content  {
    width: 75%;
    margin: auto;
  }
  
  #table > #t-head > #t-row >  th > h3 {
    font-size: 1rem;
  }
  
  #table > tbody > tr > td > span#stock-title {

    font-size: 1rem;
  }
  #table > tbody > tr > td > span#stock-symbol {
    font-size: 1rem;
  }
  #table > tbody > tr > td > span#stock-cost {
    font-size: 1rem;
  }
  #table > tbody > tr > td > span#stock-cost-change {
    font-size: 1rem;
  }

  #sell-modal > .modal-content > form > .modal-footer > .text-center > button {
    width: 75%;
    height:50%;
    margin: auto;
    margin-top: 0px !important;
  }
}

