
#root {
  width:100%;
  height:100%;
  font-family:  sans-serif;
  margin:0;
  padding:0;
}

.lindkedIn_div:hover {
  color: white;
}

div.modal-header button span {
  color:red;
  text-shadow: 0
}

.tableRow:hover {
  cursor: pointer;
}
.logIn {
  display: 'block';
  padding: .5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  padding-right: .5rem;
  padding-left: .5rem;
  border-radius: .25rem;
  background-color: transparent;
}

.nav-link:hover {
  cursor: pointer;
  color: 'white'
}
.fa-business-time::before {
  margin-right: 10px;
}

.fa-sign-out-alt::before {
  margin-right: 10px;
}

.fa-sign-in-alt:before {
  margin-right: 10px;
}

.fa-house-user::before {
    margin-right: 10px;
}

.fa-user::before {
  color:white;
  margin-right: 10px;
  margin-left: 10px;
}

#account-navbar-dropdown {
  display: flex;
}

.account-navbar-dropdown > .dropdown-toggle {
  font-size: 1.5rem;
  background-color: inherit;
  border-color:#343a40;
}

.account-navbar-dropdown > .dropdown-toggle:hover {
  background-color: inherit;
  border-color:#343a40;
}

#account-navbar-dropdown > div > .dropdown-menu.show {
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  left: -240px;
}

#account-navbar-dropdown > div > .dropdown-menu > a.dropdown-item:hover {
  cursor:context-menu;
  background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:600px) {
  #sell-modal > .modal-content {
    /* background-color: red; */
    width: 75%;
    height:50%;
    margin: auto;
    /* font-size: 1rem; */
  }
  #sell-modal > .modal-content > form {
    font-size: 1rem;
  }
  #sell-modal > .modal-content > form > .modal-body {
    width:100%;
  }

  #sell-modal > .modal-content > form > .modal-body > #stock-info-div > span {
    font-size: 1rem;
  }

  #sell-modal > .modal-content >  form > .modal-body > #stock-info-2div > div > div.d-flex > h4{
    font-size: 1rem;

  }
}

@media screen and (max-width:400px) {
  div#summary-page > table > thead > tr > th > h3  { 
    background-color: red;
    font-size: 1rem;
  }

  #sell-modal > .modal-content  {
    /* background-color: red; */
    width: 75%;
    margin: auto;
  }

  #sell-modal > .modal-content >  form > .modal-body > #stock-info-2div > div > div.text-center > button#sell-btn {
    background-color: red;
    font-size: 5rem;
    margin:auto;
    margin-top: 0 !important;
    font-size: 25rem;
  }


  #sell-modal > .modal-content > form > .modal-footer > .text-center > button {
    /* background-color: red; */
    width: 75%;
    height:50%;
    margin: auto;
    margin-top: 0px !important;
    /* font-size: 1rem; */
  }
}

