.lindkedIn_div:hover {
  color: white;
}

div.modal-header button span {
  color:red;
  text-shadow: 0
}

.tableRow:hover {
  cursor: pointer;
}
.logIn {
  display: 'block';
  padding: .5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  padding-right: .5rem;
  padding-left: .5rem;
  border-radius: .25rem;
  background-color: transparent;
}

.nav-link:hover {
  cursor: pointer;
  color: 'white'
}


.navbar-nav a:hover {
  text-decoration: none;
  color: white
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}